<!--HTML-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>作业3</title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
        rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
        rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
        rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <!-- crsf -->
    <script src="{{ SITE_URL }}static/js/csrftoken.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
    <script>
        function clearAll(params) {
            document.getElementById("host_name").value = 'host2';
            document.getElementById("host_ip").value = '192.168.0.2';
            document.getElementById("host_df").value = '/dev/sr0';
            document.getElementById("host_note").value = 'Mac';
        }
    </script>
    <script>
        function postHostdata(res) {
            $.ajax({
                url: '{{ SITE_URL }}hostdata/',
                type: 'POST',
                data: {
                    "hostname": $('#host_name').val(),
                    "hostip": $('#host_ip').val(),
                    "hostdf": $('#host_df').val(),
                    "hostnote": $('#host_note').val(),
                },
                success: function (res) {
                    $('#host_submit') .parent().append(res.msg);
                }
            });
        }
    </script>

    <script>
        $(function () {
            function renderTpl(str, cfg) {
                var re = /(#(.+?)#)/g;

                return str.replace(re, function () {
                    var val = cfg[arguments[2]] + '';
                    if (typeof val == 'undefined') {
                        val = '';
                    }
                    return val;
                });
            }

            // 异步请求后台数据
            $.ajax({
                url: '{{ SITE_URL }}hostdata/',
                type: 'GET',
                success: function (res) {
                    var _html = ' ';
                    var list = res.items;
                    var host_list = $('#host_list').html();
                    // var header_host_list = $('#header_host_list').html();
                    for (var i = 0, len = list.length; i < len; i++) {
                        var item = list[i];
                        _html += renderTpl(host_list, item)
                    }
                    $('.ranger-box2 tbody').html(_html);
                    // $('.ranger-box2 thead').html(renderTpl(header_host_list, res.catalogues));
                }
            });
        });
    </script>
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <nav class="">
                <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1  f14">
                    <div class="navbar-container">
                        <div class="navbar-header pull-left">
                            <a class="navbar-brand" href="javascript:;">
                                <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png"
                                    class="logo"> </a>
                        </div>
                        <ul class="nav navbar-nav pull-left m0">
                            <li><a href="{{ SITE_URL }}">作业一</a></li>
                            <li><a href="{{ SITE_URL }}hello2">作业二</a></li>
                            <li class="active"><a href="#top">作业三</a></li>
                            <li><a href="{{ SITE_URL }}hello4">作业四</a></li>
                            <li><a href="{{ SITE_URL }}hello5">作业五</a></li>
                            <li><a href="{{ SITE_URL }}hello6">作业六</a></li>
                            <li><a href="https://bk.tencent.com/s-mart/community/question/440">活动页面</a></li>
                            <li><a href="https://bk.tencent.com/s-mart/community/question/448">活动问答</a></li>
                        </ul>
                        <div class="navbar-header pull-right">
                            <ul class="nav">
                                <li class="user-info">
                                    <a href="javascript:;">
                                        <img class="img-rounded"
                                            src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav1/images/avatar.png">
                                        <span>844716598</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
<div class="panel panel-default mb0">
    <div class="panel-heading"> 信息录入与修改 </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">主机名：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control bk-valign-top" id="host_name" placeholder="hostname"> </div>
            </div>
            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">主机ip：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control bk-valign-top" id="host_ip" placeholder="192.168.0.1"> </div>
            </div>
            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">磁盘分区：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control bk-valign-top" id="host_df" placeholder="/data"> </div>
            </div>
            <form class="form-horizontal">
                <div class="form-group has-feedback clearfix ">
                    <label class="control-label col-sm-3 pt0" for="introduction">系统平台：</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="3" id="host_note" placeholder="Linux"></textarea>
                    </div>
                </div>
            </form>
            <div class="form-group clearfix">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="button" class="king-btn mr10  king-success" onclick="postHostdata()" id="host_submit">提交</button>
                    <button type="button" class="king-btn king-default " onclick="clearAll()" >清空</button>
                </div>
            </div>
        </form>
        <div class="panel panel-default mb0">
            <div class="panel-heading"> 主机磁盘信息 </div>
            <div class="panel-body">
                <table class="table mb0 pr15 ranger-box2  ">
                    <thead>
                        <tr>
                            <th style="width: 70px;">id</th>
                            <th style="width: 20%;">主机名</th>
                            <th style="width: 20%;">主机ip</th>
                            <th style="width: 20%;">磁盘分区</th>
                            <th style="width: 20%;">系统平台</th>
                            <th style="width: 20%;">创建时间</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <template id="host_list">
                    <tr>
                        <th style="width: 70px;">#host_id#</th>
                        <th style="width: 20%;">#host_name#</th>
                        <th style="width: 20%;">#host_ip#</th>
                        <th style="width: 20%;">#host_df#</th>
                        <th style="width: 20%;">#host_note#</th>
                        <th style="width: 20%;">#host_createtime#</th>
                    </tr>
                </template>
                <!-- 设置面板End -->
            </div>
        </div>
    </div>

        </div>
    </div>
    </div>
</body>

</html>
