<!--HTML-->
<div class="king-layout-container">
    <!-- header -->
    <nav>
        <div class="navbar king-horizontal-nav1" id="nav1_demo1">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo">
                    </a>
                </div>
                <ul class="nav navbar-nav pull-left">
                    <li class="active"><a href="javascript:;">首页</a></li>
                    <li><a href="javascript:;">关于我们</a></li>
                    <li><a href="javascript:;">hello world!</a></li>
                    <li><a href="javascript:;">联系我们</a></li>
                </ul>
                <div class="navbar-header pull-right">
                    <ul class="nav">
                        <li class="user-info">
                            <a href="javascript:;">
                                <img class="img-rounded" src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav1/images/avatar.png">
                                <span>admin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--  -->
    <div class="king-layout-main">
        <div class="king-breadcrumb">
            <span class="king-breadcrumb-link">Home</span>
            <span class="king-breadcrumb-separator">/</span>
            <span class="king-breadcrumb-link">List</span>
            <span class="king-breadcrumb-separator">/</span>
            <span class="king-breadcrumb-link">App</span>
        </div>
        <div class="king-layout-content">
            <div class="king-content-main" style="min-height: 300px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th style="width:20%;">任务</th>
                            <th>进度</th>
                            <th>开发者</th>
                            <th>结束时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>版本更新</td>
                            <td>
                                完成
                            </td>
                            <td>管理员</td>
                            <td>2015-09-20</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>数据备份</td>
                            <td>
                                70%
                            </td>
                            <td>管理员</td>
                            <td>2015-09-20</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>定时任务</td>
                            <td>
                                未开始
                            </td>
                            <td>管理员</td>
                            <td>2015-09-20</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>修复bug</td>
                            <td>
                                已结束
                            </td>
                            <td>管理员</td>
                            <td>2015-09-20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="king-layout-footer"> Copyright © 2012-2017 Tencent BlueKing. All Rights Reserved. 蓝鲸智云 版权所有</div>
</div>