<!--HTML-->
<div class="king-layout-container">
    <!-- header -->
    <nav>
        <div class="navbar king-horizontal-nav1" id="nav1_demo1">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#">
                        <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo">
                    </a>
                </div>
                <ul class="nav navbar-nav pull-left">
                    <li class="active"><a href="javascript:;">首页</a></li>
                </ul>
                <div class="navbar-header pull-right">
                    <ul class="nav">
                        <li class="user-info">
                            <a href="javascript:;">
                                <img class="img-rounded" src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav1/images/avatar.png">
                                <span>admin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</div>